@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;
  --font-sans: "Open Sans", sans-serif;
  --color-primary: #242424;
  --color-secondary: #edeeee;
  --color-accent: #424242;
}
